In [1]:
#libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import os
from IPython.display import Image
# settings
pd.set_option('display.max_columns', None) 
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#getting the link

In [2]:
link = "https://www.billboard.com/charts/hot-100/"

In [3]:
# checking the response - 200 is ok 
response = requests.get(link)
response.status_code

200

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup.prettify())

In [5]:
songs = []
for element in soup.find_all(attrs={'class':'o-chart-results-list-row-container'}):
    songs.append(element.h3.get_text(strip=True))

In [6]:
bands = []
for element in soup.find_all(attrs={'class':'o-chart-results-list-row-container'}):
    bands.append(element.h3.find_next('span').get_text(strip=True))

In [56]:
rank =[]
for element in soup.find_all(attrs={'class':'o-chart-results-list-row-container'}):
    rank.append(element.li.find_next('span').get_text(strip=True))

In [11]:
dict_data = {"rank": rank,
             "music": songs,
             "band": bands}

In [76]:
df = pd.DataFrame(dict_data)
df

   rank               music                                 band
0     1  A Bar Song (Tipsy)                            Shaboozey
1     2     I Had Some Help  Post Malone Featuring Morgan Wallen
2     3            Espresso                    Sabrina Carpenter
3     4    Die With A Smile               Lady Gaga & Bruno Mars
4     5  Birds Of A Feather                        Billie Eilish
..  ...                 ...                                  ...
95   96        Close To You                        Gracie Abrams
96   97           Residuals                          Chris Brown
97   98      Devil Is A Lie                        Tommy Richman
98   99         Parking Lot               Mustard & Travis Scott
99  100     American Nights                           Zach Bryan

[100 rows x 3 columns]

In [ ]:
.find_all(h3, class: c/label a/font/primary)